.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header a {
    text-decoration: none;
    padding: 10px;
    color: rgb(229, 57, 112);
    font-weight: 700;



}

.header a:hover {
    border-bottom: 2px solid rgb(229, 57, 112);
}