.services-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 100px;
}

.category-title {
    text-align: center;
    color: rgb(229, 57, 112);
    padding: 50px 0;
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    .services-card {
        display: grid;
        grid-template-columns: 1fr;

    }
}